* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  background: #f5f5f5;
}

.navbar {
  background: #0f2a44;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
}
.Start , .end {
  display: flex;
  gap: 20px;
align-items: center;
}


.logo {
  font-size: 24px;
  font-weight: bold;
  color: #1e3a8a;
}

.logo span {
  color: #f97316;
}

.navbar nav a ,.end-login a{
  margin-left: 20px;
  text-decoration: none;
  color: #fff;
}
.Start i {
  display: none;}

.navbar .active {
  color: #1e3a8a;
  font-weight: bold;
}
.navbar nav a:hover {
  text-decoration: underline;
}


/*common*/
.section h2 {
  text-align: center;
  margin-bottom: 40px;
}
.categories {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.categories div {
  text-align: center;
  font-size: 20px;
}

.categories i {
  font-size: 36px;
  color: #1e3a8a;
}
.all-section {
  padding: 50px 60px;
  text-align: center;
}
.all-section h1 {
  text-align: center;
  color: #1e3a8a;
  margin-bottom: 40px;
}
.all-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}
/* start index */
.hero {
  background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),
              url('../images/hero.jpeg') center bottom/cover;
  height: 80vh;
  
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.hero h1 {
  font-size: 48px;
}

.search-box {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  
}

.search-box input,
.search-box select {
  padding: 12px;
  width: 200px;
}

.search-box button {
  padding: 12px 20px;
  background: #f97316;
  color: white;
  border: none;
  cursor: pointer;
}

/* SECTIONS */
.section {
  padding: 60px;
  background: white;
}

.light {
  background: #f0f0f0;
}

/* CARDS */
.cards {
 display: flex;
 gap: 100px;
 flex-wrap: wrap;
 align-items: center;
 justify-content: center;
}

.card {
  width: 350px;
  background: white;
  border-radius: 8px;
 box-shadow: 5px 4px 10px rgba(0,0,0,.1);
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-body {
  padding: 15px;
}


.ws_images{
  display: flex;
  align-items: center;
  justify-content: center;
  height:90%;
  width: 60%;
  margin-left: 20%;
  border-radius: 60px;
}
/*end of index*/

/* start buy*/

.filter-bar {
  background: white;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.filter-bar input,
.filter-bar select {
  padding: 10px;
  width: 200px;
}

.filter-bar button {
  background: #f97316;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

/* RESULTS */
.results {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  padding: 40px 60px;
}

.property-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.property-card {
  background: white;
  display: flex;
  flex-wrap: wrap;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,.1);
}

.property-card img {
  width: 200px;
  object-fit: cover;
}

.info {
  padding: 15px;
}

.info h3 {
  color: #1e3a8a;
}

.icons span {
  margin-right: 15px;
  color: #555;
}

/* MAP */
.map {
  background: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

/*agents */
.hero-ag {
  background: #1e3a8a;
  color: white;
  text-align: center;
  padding: 60px 20px;
}
.agents {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  padding: 60px;
}

.agent-card {
  background: white;
  padding: 30px;
  text-align: center;
  border-radius: 10px;
  text-decoration: none;
  color: inherit;
  transition: 0.3s;
}

.agent-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0,0,0,.1);
}

.agent-card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}

.agent-card span {
  display: block;
  margin-top: 10px;
  color: #1e3a8a;
}


/* BLOG SECTION */

.blog-card {
  background: white;
  width: 300px;
  border-radius: 10px;
  overflow: hidden;
  text-align: left;
  transition: 0.3s;
}

.blog-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0,0,0,.1);
}

.blog-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.blog-card h3 {
  color: #1e3a8a;
  margin: 15px 15px 10px 15px;
}

.blog-card p {
  margin: 0 15px 15px 15px;
  color: #555;
  font-size: 14px;
}

.blog-card a {
  display: block;
  margin: 0 15px 15px 15px;
  color: #f97316;
  text-decoration: none;
  font-weight: bold;
}
/* FAVORITES SECTION */


.favorites-card {
  background: white;
  width: 300px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  transition: 0.8s;
}

.favorites-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0,0,0,.1);
}

.favorites-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.favorites-card h3 {
  color: #f97316;
  margin: 10px;
}

.favorites-card p {
  margin: 0 10px 10px 10px;
  color: #555;
}
/* REMOVE BUTTON */
.remove {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #f97316;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 6px;
  cursor: pointer;
}

.remove:hover {
  background: #1e3a8a;
}


/* CONTACT SECTION */

.contact-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
}

/* Contact Form */
.contact-form {
  background: white;
  padding: 30px;
  border-radius: 10px;
  width: 400px;
  box-shadow: 0 10px 20px rgba(0,0,0,.1);
}

.contact-form label {
  display: block;
  margin: 15px 0 5px 0;
  font-weight: bold;
  color: #555;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.contact-form textarea {
  height: 100px;
  resize: none;
}


.contact-form button {
  margin-top: 20px;
  width: 100%;
  padding: 15px;
  background: #1e3a8a;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

.contact-form button:hover {
  background: #f97316;
}

/* Contact Info */
.contact-info {
  background: white;
  padding: 30px;
  border-radius: 10px;
  width: 400px;
  box-shadow: 0 10px 20px rgba(0,0,0,.1);
}

.contact-info h2 {
  color: #1e3a8a;
  margin-bottom: 20px;
}

.contact-info p {
  margin-bottom: 15px;
  color: #555;
}

.contact-info i {
  margin-right: 10px;
  color: #f97316;
}

/* Login Section */
.login-container {
  min-height: calc(100vh - 140px);
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f6f8;
}

.login-box {
  background: #fff;
  padding: 40px;
  width: 100%;
  max-width: 400px;
  border-radius: 8px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  text-align: center;
}

.login-box h2 {
  margin-bottom: 10px;
  color: #0f2a44;
}

.login-box p {
  margin-bottom: 25px;
  color: #666;
}

/* Inputs */
.input-group {
  text-align: left;
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  margin-bottom: 6px;
  font-size: 14px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Button */
.login-btn {
  width: 100%;
  padding: 12px;
  background: #ff9800;
  border: none;
  color: #fff;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.login-btn:hover {
  background: #e68900;
}

/* Links */
.login-links {
  margin-top: 20px;
  font-size: 14px;
}

.login-links a {
  color: #0f2a44;
  text-decoration: none;
}

.login-links a:hover {
  text-decoration: underline;
}

/* ACCOUNT INFO */
.account-info {
  background: white;
  text-align: center;
  padding: 50px 20px;
  border-bottom: 1px solid #ddd;
}

.account-info img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}

.account-info h1 {
  color: #1e3a8a;
  margin-bottom: 10px;
}

.account-info p {
  color: #555;
}

/* USER DASHBOARD */
.user-dashboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 50px 20px;
}

.acc-card {
  background: white;
  padding: 30px;
  border-radius: 10px;
  width: 250px;
  text-align: center;
  transition: 0.3s;
}

.acc-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0,0,0,.1);
}

.acc-card h3 {
  color: #1e3a8a;
  margin-bottom: 10px;
}

.acc-card p a {
  color: #f97316;
  text-decoration: none;
}
/*      agent-profile */

.agent-info {
  background: white;
  padding: 50px 20px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.agent-info img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}

.agent-info h1 {
  margin: 10px 0;
  color: #1e3a8a;
}

.agent-info p {
  color: #777;
}

.contact-buttons button {
  margin: 10px 10px 0 10px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  color: white;
  background: #1e3a8a;
}

.contact-buttons button:nth-child(2) {
  background: #f97316;
}

/* AGENT LISTINGS */
.agent-listings {
  padding: 50px 60px;
}

.agent-listings h2 {
  margin-bottom: 30px;
  color: #1e3a8a;
}

.property-cardd {
  display: inline-block;
  width: 300px;
  margin: 10px;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.3s;
}

.property-cardd:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0,0,0,.1);
}

.property-cardd img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.property-cardd h3 {
  color: #f97316;
  margin: 10px;
}

.property-cardd p {
  margin: 0 10px 10px 10px;
  color: #555;
}






/*     property */
/* GALLERY */
.gallery {
  background: #d8dbe1a0;
  padding: 30px;
  text-align: center;
}

.main-img {
  width: 70%;
  border-radius: 8px;
}

.thumbs {
  margin-top: 15px;
}

.thumbs img {
  width: 100px;
  margin: 5px;
  cursor: pointer;
  opacity: .7;
}

.thumbs img:hover {
  opacity: 5;
}

/* DETAILS */
.details {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 30px;
  padding: 50px 60px;
  background: white;
}

.location {
  color: #777;
  margin: 10px 0;
}

.features span {
  margin-right: 20px;
  color: #333;
}

.details h3 {
  margin-top: 25px;
}

/* AGENT */
.agent-cardd {
  background: #f9f9f9;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
}

.agent-cardd img {
  width: 80px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.agent-cardd button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background: #1e3a8a;
  color: white;
  border: none;
  cursor: pointer;
}

.agent-cardd .outline {
  background: transparent;
  color: #1e3a8a;
  border: 1px solid #1e3a8a;
}

/* MAP */
.mapp {
  height: 300px;
  background: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}



























/* FOOTER */
.footer {
  background: #1e3a8a;
  color: white;
  padding: 40px 60px 20px;
}
.section h2 {
  text-align: center;
  margin-bottom: 40px;
}

.footer-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  gap: 30px;
}

.footer a {
  display: block;
  color: #ddd;
  text-decoration: none;
  margin: 6px 0;
}

.social i {
  font-size: 20px;
  margin-right: 10px;
  cursor: pointer;
}

.copyright {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  border-top: 1px solid rgba(255,255,255,.3);
  padding-top: 10px;
}

@media (max-width:850px) {

 .nav{
  display: none;

 }
 .Start i {
  display: block;}
  
}

